src/*.zip
src/send1.sh
src/dep
*.pro.user
.qmake.stash
src/whcd
*.app
src/ftcd
DC.app
DC.dmg
build
src/qt/locale/*.qm
src/leveldb/util/*.o
src/leveldb/table/*.o
src/leveldb/db/*.o
src/leveldb/*.a
src/obj/
src/qt/.DS_Store
src/qt/res/.DS_Store
src/run/
src/run1/
src/run2/
src/yhcd
src/leveldb/helpers/memenv/*.o
src/leveldb/port/*.o
src/leveldb/build_config.mk
src/.DS_Store
.DS_Store
Makefile
qrc_bitcoin.cpp
YHC.app
src/klcd
FTC.dmg
FTC.dmg.zip
src/ftccoind
src/leveldb/out-shared/c_test
src/leveldb/out-shared/db 
src/leveldb/out-shared/db_bench src/leveldb/out-shared/helpers 
src/leveldb/out-shared/libleveldb.so 
src/leveldb/out-shared/libleveldb.so.1 
src/leveldb/out-shared/libleveldb.so.1.20 
src/leveldb/out-shared/port 
src/leveldb/out-shared/table 
src/leveldb/out-shared/util
src/leveldb/out-static/autocompact_test 
src/leveldb/out-static/corruption_test 
src/leveldb/out-static/c_test 
src/leveldb/out-static/db 
src/leveldb/out-static/dbformat_test 
src/leveldb/out-static/db_test 
src/leveldb/out-static/helpers 
src/leveldb/out-static/libleveldb.a 
src/leveldb/out-static/libmemenv.a 
src/leveldb/out-static/port 
src/leveldb/out-static/table 
src/leveldb/out-static/util
src/leveldb/out-shared/*
src/leveldb/out-static/*
